body{
    text-align: center;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 3em;
    margin-top: 70px;
    margin-bottom: 0px;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #66BFBF;
}

h3{
    color: #11999E;
}

.top_container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    position: relative;
    color: #40514E;
    margin: 50px 0 50px 0;
}

p{
    line-height: 2;
}

#A{
    position: absolute;
    right: 400px;
}

#B{
    position: absolute;
    bottom: 300px;
    left: 400px
}

table{
    margin: auto;
    text-align: left;
}

ul{
    display: table;
    margin: auto;
}

.skill-row{
    width: 50%;
    margin: 0 auto 20px auto;
    text-align: left;

}

.excel{
    float: left;
    margin-right: 30px;
}

.python{
    float: left ;
    margin-right: 30px;
}

.guitar{
    float: left;
    margin-right: 30px;
}

.football{
    float: left;
    margin-right: 30px;
}


.bottom-container{
    background-color: #66BFBF;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 0;
    margin-top: auto;
}


.contact-me{
    margin-top: 10px ;
    padding-top: 0;
    text-align: center;
}

.intro{
    width: 30%;
    text-align: center;
    margin: auto;
}

.my_skill{
    padding-bottom: 30px;
}

.tea_coffee{
    width: 30%;
    margin: 20px auto 30px auto;
}

hr{
    border: dotted #66BFBF 6px;
    border-bottom: none;
    width: 2%;
    margin: 50px auto 50px auto;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;;
  color: #ffe0ff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

a{
    color: #11999E;
    margin: 5px 10px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.copyright{
    color: #EAF6F6;
    font-size: .8em;
    padding: 20px 0;
}